* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #ecf0f1;
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.heading {
  padding: 20px 0px;
  text-align: center;
  color: #ecf0f1;
}

.container {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  background-color: #34495e;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 12px;
  border-radius: 15px;
  padding: 20px;
  max-width: 420px;
  width: 100%;
}

.row {
  display: flex;
  gap: 10px;
}

.box {
  flex: 1;
  height: 100px;
  width: 100px;
  background-color: #2c3e50;
  border: 1px solid #1abc9c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  color: #1abc9c;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
  border-radius: 8px;
}

.current-Player {
  text-align: center;
  color: #ecf0f1;
}

#currentPlayer {
  color: #1abc9c;
  font-size: 34px;
}

.box:hover {
  background-color: #1abc9c;
  color: #2c3e50;
  transform: scale(1.05);
}

.gameFeedBack {
  text-align: center;
}

.gameFeedBack h3 {
  margin: 4px 0px;
  font-size: 28px;
}

.gameFeedBack button {
  padding: 12px 24px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  background-color: #e01515;
  color: #ecf0f1;
  transition: transform 0.2s ease, color 0.3s ease;
}

.gameFeedBack button:hover {
  background-color: #c91313;
  transform: scale(1.05);
}
